<header class="header">
  <div class="header__left">
    <img src="/images/logo.svg" alt="Voiren Logo" />
  </div>

  <div class="header__center">
    <nav class="header__nav">
      <a href="#services">Servicios</a>
      <a href="#about">Quienes Somos</a>
      <a href="#portfolio">Proyectos</a>
    </nav>
  </div>

  <div class="header__right">
    <button>Hablemos</button>
  </div>
</header>
