<header class="header">
  <div class="header__left">
    <a href="/">
      <img src="/images/logo.svg" alt="Voiren Logo" />
    </a>
  </div>

  <div class="header__center">
    <h2>ABRAZANDO LO IMPOSIBLE</h2>
  </div>

  <div class="header__right">
    <a class="cta" href="https://wa.me/message/MTUOLPWELXEOB1" target="_blank" rel="noopener noreferrer">Hablemos</a>
  </div>
</header>
