<header class="header">
  <div class="header__left">
    <img src="/images/logo.jpeg" alt="Voiren Logo" />
  </div>

  <div class="header__center">
    <span>Abrazando lo imposible</span>
  </div>

  <div class="header__right">
    <button>Hablemos</button>
  </div>
</header>
