<header class="header">
  <div class="header__left">
    <a href="/">
      <img src="/images/logo.svg" alt="Voiren Logo" />
    </a>
  </div>

  <div class="header__center">
    <h2>ABRAZANDO LO IMPOSIBLE</h2>
  </div>

  <div class="header__right">
    <button class="cta">Hablemos</button>
  </div>
</header>
