---
import "../../styles/sections/Hero.css"
---
<section class="hero">
  <div class="hero__content">
    <div class="claim">
      <h1>
        Soluciones de software a medida para
        <span>automatizar y escalar</span> tu negocio
      </h1>
      <p>
        Desarrollo automatizaciones, aplicaciones web e integraciones
        usando tecnologías modernas como Python y AWS.
      </p>
    </div>


    <div class="hero__actions">
      <button>Hablemos</button>
      <a href="/servicios">Ver servicios</a>
    </div>

    <div class="hero__trust">
      <span>Automatizaciones</span>
      <span>Integraciones</span>
      <span>Desarrollo a medida</span>
    </div>
  </div>
</section>
