---
import "../../styles/sections/Hero.css"
---
<section class="hero">
  <div class="hero__content">
    <div class="claim">
      <h1>
        Dise침amos el <span>sistema</span> que tu proyecto necesita <span>para crecer</span>
      </h1>
      <p>
Aprovechamos las herramientas que ya forman parte de tu operaci칩n y las convertimos en un sistema ordenado, pr치ctico y f치cil de gestionar.
      </p>
    </div>


    <div class="hero__actions">
      <button>Hablemos</button>
    </div>

    <div class="hero__trust">
      <span>Automatizaciones</span>
      <span>Sistemas</span>
      <span>Datos</span>
    </div>
  </div>
</section>
