---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="../../public/images/logo.jpeg" />
		<link rel="icon" href="../../public/images/logo.jpeg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Voiren</title>
	</head>
	<body>
		<h1>Voiren</h1>
	</body>
</html>
